<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../view/public/css/home.css">
    <link rel="icon" href="../../view/public/img/iconoSura.png">
</head>
<body>
    <div class="contenedorTiger">
        <img  class="tiger" src="../public/img/tiger_tall-removebg-preview.png" alt="">
      </div>
    <div class="links">
        <ul class="links__list" style="--item-total:5">
          <li class="links__item" style="--item-count:1">
            <a class="links__link" href="../pages/calculo.html">
                <img class="links__icon" src="../public/img/insolvencia.png" alt="">
                <span class="links__text">Liquidar</span>
            </a>
          </li>
          <li class="links__item" style="--item-count:2">
            <a class="links__link" href="../pages/registro.html">
                <img class="links__icon" src="../public/img/gente.png" alt="">
                <span class="links__text">Registrar</span></a>
          </li>
          <li class="links__item" style="--item-count:3">
            <a class="links__link" href="../pages/empleados.html">
                <img class="links__icon" src="../public/img/empleados.png" alt="">
                <span class="links__text">Empleados</span></a>
          </li>
          <li class="links__item" style="--item-count:4">
            <a class="links__link" href="../pages/historial.html">
                <img class="links__icon" src="../public/img/historial-de-transacciones.png" alt="">
                <span class="links__text">Historial de Transacciones</span></a>
          </li>
          <li class="links__item" style="--item-count:5">
            <a class="links__link" href="mailto:hello@danielbenmore.co.uk?subject=Hello">
                <img class="links__icon" src="../public/img/estadisticas.png" alt="">
                <span class="links__text">Estadisticas</span></a>
          </li>
        </ul>
      </div>
      
    
      <script src="../../view/public/js/home.js"></script>
</body>
</html>